www.balkanskatrkackaliga.net {
	redir https://balkanskatrkackaliga.net{uri} permanent
}

balkanskatrkackaliga.net {
	reverse_proxy frontend:80
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}
